<mat-card>
  <mat-tab-group class="m-16" (selectedTabChange)="onTabChanged($event);">
    <mat-tab label="Equipamentos">
      <div class="m-16">

          <section>

            <div style="display: flex; justify-content: center; align-items: center;" *ngIf="!resultsLengthEquipments && !isLoadingResultsEquipments">
                <p>{{ 'clients.equipment_register' | translate }}</p>
            </div>

            <div *ngIf="isLoadingResultsEquipments" style="display: flex; justify-content: center; align-items: center; background: white; margin-top: 15px;">
              <mat-progress-spinner
                color="primary"
                mode="indeterminate"
                diameter="40">
              </mat-progress-spinner>
            </div>

            <mat-table
              #sortEquipments="matSort"
              [dataSource]="dataEquipments"
              matSort>

              <ng-container matColumnDef="name">
                <mat-header-cell *cdkHeaderCellDef mat-sort-header> {{ 'clients.equipment' | translate}}</mat-header-cell>
                <mat-cell *cdkCellDef="let element;"> {{element.name}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="brand">
                <mat-header-cell *cdkHeaderCellDef mat-sort-header> {{ 'clients.brand' | translate}}</mat-header-cell>
                <mat-cell *cdkCellDef="let element;"> {{element.brand}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="model">
                <mat-header-cell *cdkHeaderCellDef mat-sort-header>{{ 'clients.model' | translate}}</mat-header-cell>
                <mat-cell *cdkCellDef="let element;">{{element.model }}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="id">
                <mat-header-cell *cdkHeaderCellDef mat-sort-header></mat-header-cell>
                <mat-cell *cdkCellDef="let element;">

                  <div class="action-button">
                    <a routerLink="/clients/view/{{ element.id }}" mat-icon-button
                       aria-label="View User">
                      <mat-icon>visibility</mat-icon>
                    </a>
                    <button href="/" mat-icon-button (click)="openDeleteDialog(element.id)"
                       aria-label="Delete User">
                      <mat-icon>restore_from_trash</mat-icon>
                    </button>
                  </div>

                </mat-cell>
              </ng-container>

              <mat-header-row *cdkHeaderRowDef="displayedColumnsEquipments"></mat-header-row>
              <mat-row *cdkRowDef="let row; columns: displayedColumnsEquipments;"></mat-row>

            </mat-table>

            <mat-paginator [ngClass]="{'hidden': resultsLengthEquipments <= 1}" #paginatorEquipments [length]="resultsLengthEquipments" [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons></mat-paginator>

          </section>

      </div>
    </mat-tab>
    <mat-tab label="Ordens">
      <div class="m-16">
          <section>

            <div style="display: flex; justify-content: center; align-items: center;" *ngIf="!resultsLengthOrders && !isLoadingResultsOrders">
                <p>{{ 'clients.orders_register' | translate }}</p>
            </div>

            <div *ngIf="isLoadingResultsOrders" style="display: flex; justify-content: center; align-items: center; background: white; margin-top: 15px;">
              <mat-progress-spinner
                color="primary"
                mode="indeterminate"
                diameter="40">
              </mat-progress-spinner>
            </div>

            <mat-table
              #sortOrders="matSort"
              [dataSource]="dataOrders"
              matSort>

              <ng-container matColumnDef="equipment">
                <mat-header-cell *cdkHeaderCellDef mat-sort-header> {{ 'clients.equipment' | translate}}</mat-header-cell>
                <mat-cell *cdkCellDef="let element;"> {{element.equipment.name}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="brand">
                <mat-header-cell *cdkHeaderCellDef mat-sort-header> {{ 'clients.brand' | translate}}</mat-header-cell>
                <mat-cell *cdkCellDef="let element;"> {{element.equipment.brand}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="defect">
                <mat-header-cell *cdkHeaderCellDef mat-sort-header> {{ 'clients.defect' | translate}}</mat-header-cell>
                <mat-cell *cdkCellDef="let element;"> {{element.defect}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="entry">
                <mat-header-cell *cdkHeaderCellDef mat-sort-header> {{ 'clients.entry' | translate}}</mat-header-cell>
                <mat-cell *cdkCellDef="let element;"> {{element.entry | date}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="id">
                <mat-header-cell *cdkHeaderCellDef mat-sort-header></mat-header-cell>
                <mat-cell *cdkCellDef="let element;">

                  <div class="action-button">
                    <a routerLink="/clients/view/{{ element.id }}" mat-icon-button
                       aria-label="View User">
                      <mat-icon>visibility</mat-icon>
                    </a>
                    <button href="/" mat-icon-button (click)="openDeleteDialog(element.id)"
                       aria-label="Delete User">
                      <mat-icon>restore_from_trash</mat-icon>
                    </button>
                  </div>

                </mat-cell>
              </ng-container>

              <mat-header-row *cdkHeaderRowDef="displayedColumnsOrders"></mat-header-row>
              <mat-row *cdkRowDef="let row; columns: displayedColumnsOrders;"></mat-row>

            </mat-table>

            <mat-paginator  [ngClass]="{'hidden': resultsLengthOrders <= 1}" #paginatorOrders [length]="resultsLengthOrders" [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons></mat-paginator>

          </section>

      </div>
    </mat-tab>
    <mat-tab label="{{ 'clients.services' | translate}}">
      <div class="m-16">
          <section>

            <div style="display: flex; justify-content: center; align-items: center;" *ngIf="!resultsLengthServices && !isLoadingResultsServices">
                <p>{{ 'clients.services_register' | translate }}</p>
            </div>

            <div *ngIf="isLoadingResultsServices" style="display: flex; justify-content: center; align-items: center; background: white; margin-top: 15px;">
              <mat-progress-spinner
                color="primary"
                mode="indeterminate"
                diameter="40">
              </mat-progress-spinner>
            </div>

            <mat-table
              #sortServices="matSort"
              [dataSource]="dataServices"
              matSort>

              <ng-container matColumnDef="equipment">
                <mat-header-cell *cdkHeaderCellDef mat-sort-header> {{ 'clients.equipment' | translate}}</mat-header-cell>
                <mat-cell *cdkCellDef="let element;"> {{element.equipment.name}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="brand">
                <mat-header-cell *cdkHeaderCellDef mat-sort-header> {{ 'clients.brand' | translate}}</mat-header-cell>
                <mat-cell *cdkCellDef="let element;"> {{element.equipment.brand}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="value">
                <mat-header-cell *cdkHeaderCellDef mat-sort-header> {{ 'clients.value' | translate}}</mat-header-cell>
                <mat-cell *cdkCellDef="let element;"> {{ element.value | currency:'BRL':true }} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="approved">
                <mat-header-cell *cdkHeaderCellDef mat-sort-header> {{ 'clients.approved' | translate}}</mat-header-cell>
                <mat-cell *cdkCellDef="let element;"> {{ (element.approved ? 'clients.yes' : 'clients.no') | translate }} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="term">
                <mat-header-cell *cdkHeaderCellDef mat-sort-header> {{ 'clients.term' | translate}}</mat-header-cell>
                <mat-cell *cdkCellDef="let element;"> {{ element.term | date }} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="id">
                <mat-header-cell *cdkHeaderCellDef mat-sort-header></mat-header-cell>
                <mat-cell *cdkCellDef="let element;">

                  <div class="action-button">
                    <button href="/" mat-icon-button (click)="openDeleteDialog(element.id)"
                       aria-label="Delete User">
                      <mat-icon>restore_from_trash</mat-icon>
                    </button>
                  </div>

                </mat-cell>
              </ng-container>

              <mat-header-row *cdkHeaderRowDef="displayedColumnsServices"></mat-header-row>
              <mat-row *cdkRowDef="let row; columns: displayedColumnsServices;"></mat-row>

            </mat-table>

            <mat-paginator [ngClass]="{'hidden': resultsLengthServices <= 1}" #paginatorServices [length]="resultsLengthServices" [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons></mat-paginator>

          </section>

      </div>
    </mat-tab>
    <mat-tab label="Faturas">
      <div class="m-16">
          <section>

            <div style="display: flex; justify-content: center; align-items: center;" *ngIf="!resultsLengthBillings && !isLoadingResultsBillings">
                <p>{{ 'clients.billings_register' | translate }}</p>
            </div>

            <div *ngIf="isLoadingResultsBillings" style="display: flex; justify-content: center; align-items: center; background: white; margin-top: 15px;">
              <mat-progress-spinner
                color="primary"
                mode="indeterminate"
                diameter="40">
              </mat-progress-spinner>
            </div>

            <mat-table
              #sortBillings="matSort"
              [dataSource]="dataBillings"
              matSort>

              <ng-container matColumnDef="equipment">
                <mat-header-cell *cdkHeaderCellDef mat-sort-header> {{ 'clients.equipment' | translate}}</mat-header-cell>
                <mat-cell *cdkCellDef="let element;"> {{element.equipment.name}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="brand">
                <mat-header-cell *cdkHeaderCellDef mat-sort-header> {{ 'clients.brand' | translate}}</mat-header-cell>
                <mat-cell *cdkCellDef="let element;"> {{element.equipment.brand}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="value">
                <mat-header-cell *cdkHeaderCellDef mat-sort-header> {{ 'clients.value' | translate}}</mat-header-cell>
                <mat-cell *cdkCellDef="let element;"> {{ element.value | currency:'BRL':true }} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="paymentType">
                <mat-header-cell *cdkHeaderCellDef mat-sort-header> {{ 'clients.paymentType' | translate}}</mat-header-cell>
                <mat-cell *cdkCellDef="let element;"> {{ element.paymentType }} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="date">
                <mat-header-cell *cdkHeaderCellDef mat-sort-header> {{ 'clients.date' | translate}}</mat-header-cell>
                <mat-cell *cdkCellDef="let element;"> {{ element.date | date }} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="id">
                <mat-header-cell *cdkHeaderCellDef mat-sort-header></mat-header-cell>
                <mat-cell *cdkCellDef="let element;">

                  <div class="action-button">
                    <a routerLink="/clients/view/{{ element.id }}" mat-icon-button
                       aria-label="View User">
                      <mat-icon>visibility</mat-icon>
                    </a>
                    <button href="/" mat-icon-button (click)="openDeleteDialog(element.id)"
                       aria-label="Delete User">
                      <mat-icon>restore_from_trash</mat-icon>
                    </button>
                  </div>

                </mat-cell>
              </ng-container>

              <mat-header-row *cdkHeaderRowDef="displayedColumnsBillings"></mat-header-row>
              <mat-row *cdkRowDef="let row; columns: displayedColumnsBillings;"></mat-row>

            </mat-table>

            <mat-paginator  [ngClass]="{'hidden': resultsLengthBillings <= 1}"  #paginatorBillings [length]="resultsLengthBillings" [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons></mat-paginator>

          </section>

      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>
